nav {
  background: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 20px;
  transition: all 0.3s ease;
}
nav .logo {
  font-weight: 500;
}
nav .logo span {
  font-weight: 800;
  color: #10b981;
}
nav .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}
nav .navbar ul li {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  color: black;
  cursor: pointer;
}
nav .navbar ul li:hover {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  color: #10b981;
}
nav .navbar .userMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
nav .navbar .userMenu .icons {
  cursor: pointer;
  transition: all 0.3s;
}
nav .navbar .userMenu .icons:hover {
  color: #10b981;
}
nav .navbar .toggleMenu {
  display: none;
}

@media (max-width: 768px) {
  nav .navbar .toggleMenu {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  nav .navbar .logo,
  nav .navbar.extended .logo {
    position: absolute;
    top: 1.05rem;
    left: 1rem;
  }
  nav .navbar .toggleMenu,
  nav .navbar.extended .toggleMenu {
    position: absolute;
    top: 1.05rem;
    right: 1rem;
  }
  nav .navbar ul {
    position: absolute;
    top: -75%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    flex-direction: column;
    transition: all 0.3s ease;
  }
  nav .navbar .userMenu {
    position: absolute;
    top: -75%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    flex-direction: row;
    transition: all 0.3s ease;
  }
  nav .navbar.extended {
    height: 50vh;
  }
  nav .navbar.extended ul {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    opacity: 1;
  }
  nav .navbar.extended .userMenu {
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    opacity: 1;
  }
}
