@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}
main {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}

@media (max-width: 768px) {
  main {
    margin-top: 3.5rem;
  }
}
